body {
    font-family: Helvetica, Ubuntu, Arial, sans-serif;
    background-color: #333;
    color: #FFF;
    padding: 10px;
    height: 200px;
    width: 400px;
}

textarea,
select,
input,
button {
    outline: none;
}

h1,
h2 {
    margin: 0px;
    font-weight: 100;
}

h2 {
    font-size: 1em;
    margin-bottom: 15px;
}

select {
    width: 100%;
    margin-bottom: 15px;
    border: none;
    height: 25px;
    cursor: pointer;
}

img.icon {
    position: fixed;
    bottom: 10px;
    right: 15px;
    height: 25px;
}

input {
    margin-bottom: 15px;
    width: 98%;
    border: none;
    padding: 6px 5px;
    border-radius: 5px;
    display: none;
}

button {
    height: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}